<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31135080982-jr8onvqb6q4rm09suuuq4ndt7v7r39ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31135080982-jr8onvqb6q4rm09suuuq4ndt7v7r39ks</string>
	<key>API_KEY</key>
	<string>AIzaSyBVX5RJbNuxyhNR_V4V0xKnecUqMhFaGG0</string>
	<key>GCM_SENDER_ID</key>
	<string>31135080982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recordsApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>record-app-b1d9c</string>
	<key>STORAGE_BUCKET</key>
	<string>record-app-b1d9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31135080982:ios:208b4993a409c3d541cb37</string>
</dict>
</plist>